body{
    background:#000;
}
h1{
color:orange;
margin:auto;
}
p{
font-size:200%;
color:lightgreen}
.blue-p{
color:darkgreen;
font-size:75px;
}
.white-p{
background-color:#fff
}
#idcss{
font-size:15px;
}
