<div class="container-fluid">
  <h1>Todo List</h1>
</div>
<div class="input-group">
  <div class="input-group-append">
    <select class="custom-select" (change)="selectChangeHandler($event)" (click)="selectChangeHandler($event)">
      <option value="Default" selected>Default</option>
      <option value="Grocery">Grocery</option>
      <option value="Beauty">Beauty</option>
      <option value="Sports">Sports</option>
      <option value="HomeNeeds">HomeNeeds</option>
    </select>
  </div>
  <input type='text' contenteditable='true' [(ngModel)]='userInput' class='form-control'>
  <div class='input-group-append' >
    <button class='btn btn-info' type='button' (click)="AddCourses()">Add</button>
  </div>
</div>
<input type='text' contenteditable='true' class='form-control'>
<br><br>
<div class="input-group mb-3" *ngFor = "let abc of items | async">
    <div class="input-group-prepend">
      <span class="input-group-text">{{abc.category}}</span>
    </div>
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" value={{abc.item}}>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="DeleteCourse(abc)">Delete</button>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon3" (click)="UpdateCourse(abc)">Update</button>
      </div>
  </div>
